<h1 ng-bind="$ctrl.title"></h1>

<div ng-if="$ctrl.hasVoted">
  Du har röstat!
</div>
<div ng-if="!$ctrl.hasVoted">
  <div>
    <div ng-repeat="option in $ctrl.options">
      <span ng-bind="option.name"></span>
      <input ng-if="$ctrl.multipleChoise" type="checkbox" ng-value="option.name" ng-model="option.selected">
      <input ng-if="!$ctrl.multipleChoise" type="radio" ng-value="option.name" ng-model="$ctrl.selected">
    </div>
  </div>
  <button ng-click="$ctrl.submitVote($ctrl.selected)" ng-disabled="!$ctrl.hasSelectedVote()">Rösta</button>
</div>
